[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vend/spdlog"]
	path = Hazel/vend/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vend/GLFW"]
	path = Hazel/vend/GLFW
	url = https://github.com/TheCherno/glfw
